{% extends "layouts/evidence-summary.html" %}
 
{% block pageTitle %}
  Team Sparrowhawk prototypes
{% endblock %}
 
{% block beforeContent %}
  <a href="/" class="govuk-back-link">Back to Team SWIFT prototypes</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h1 class="govuk-heading-xl">Team Sparrowhawk prototypes</h1>
 
    <p class="govuk-body">This team is working on summarising medical documents for ATPs before an assessment.</p>
 
    <p class="govuk-body">If you have any questions about this prototype, or to arrange a demo, contact:</p>
 
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="mailto:rosemary.boyd-monk@engineering.digital.dwp.gov.uk">Rosemary Boyd-Monk</a>: Senior Interaction Designer
      </li>
      <li>
        <a class="govuk-link" href="mailto:peter.leon@engineering.digital.dwp.gov.uk">Peter Leon</a>: Senior Content Designer
      </li>
      <li>
        <a class="govuk-link" href="mailto:samantha.engelbrecht@engineering.digital.dwp.gov.uk">Samantha Engelbrecht</a>: User Researcher
      </li>
    </ul>
 
    <h2 class="govuk-heading-m">Summarisation of evidence: option 1</h2>
 
    <p class="govuk-body"><a href="/evidence-summary/option-1/evidence" class="govuk-link">View</a></p>
 
    <h2 class="govuk-heading-m">Summarisation of evidence: option 2</h2>
 
    <p class="govuk-body"><a href="/evidence-summary/option-2/evidence" class="govuk-link">View</a></p>
 
  </div>
</div>
{% endblock %}
