{% extends "layouts/evidence-summary.html" %}
 
{% block pageTitle %}
  Summarisation of evidence: option 1
{% endblock %}
 
{% block beforeContent %}
  <a href="/evidence-summary" class="govuk-back-link">Back</a>
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <span class="govuk-caption-l">Summarisation of evidence</span>
    <h1 class="govuk-heading-l">Option 1</h1>
 
    <p class="govuk-body">This page is a placeholder. The summary PDF for option 1 will go here.</p>
 
  </div>
</div>
{% endblock %}
