{# Dummy claimant documents for the Evidence based summary options.
   Imported as data: {% import "includes/es-documents.html" as esDocs %}
   then use esDocs.documents. 45 documents, newest received first. #}
 
{% set documents = [
  { name: "Award review AR1", date: "27 Jul 2021", received: "10 Sept 2021", read: true },
  { name: "Award review AR1 covering letter", date: "27 Jul 2021", received: "10 Sept 2021", read: false },
  { name: "Further evidence", date: "3 Sept 2021", received: "10 Sept 2021", read: false },
  { name: "WHITE MAIL UNSTRUCTURED", date: "", received: "10 Sept 2021", read: false },
  { name: "GP letter", date: "8 Feb 2019", received: "10 Sept 2021", read: false },
  { name: "GP letter", date: "19 Jan 2019", received: "10 Sept 2021", read: false },
  { name: "Further evidence", date: "10 Oct 2019", received: "10 Sept 2021", read: false },
  { name: "ESA85", date: "16 Mar 2018", received: "10 Sept 2021", read: false },
  { name: "ESA50", date: "2 Mar 2019", received: "10 Sept 2021", read: false },
  { name: "PA4 report", date: "18 Aug 2017", received: "10 Sept 2021", read: false },
  { name: "Award review AR1", date: "8 May 2017", received: "10 Sept 2021", read: false },
  { name: "PA4 report", date: "26 Oct 2015", received: "10 Sept 2021", read: false },
  { name: "PIP 2 questionnaire", date: "20 Aug 2015", received: "10 Sept 2021", read: false },
  { name: "Rheumatology clinic letter", date: "14 Jun 2021", received: "10 Sept 2021", read: false },
  { name: "Diabetes clinic letter", date: "2 Mar 2021", received: "10 Sept 2021", read: false },
  { name: "Physiotherapy discharge report", date: "11 Jan 2021", received: "10 Sept 2021", read: false },
  { name: "Hospital discharge summary", date: "29 Oct 2020", received: "10 Sept 2021", read: false },
  { name: "Orthopaedic consultant letter", date: "7 Aug 2020", received: "10 Sept 2021", read: false },
  { name: "Repeat prescription list", date: "15 Jul 2021", received: "10 Sept 2021", read: false },
  { name: "Mental health team letter", date: "22 Apr 2020", received: "10 Sept 2021", read: false },
  { name: "Occupational therapy assessment", date: "3 Feb 2020", received: "10 Sept 2021", read: false },
  { name: "Carer statement", date: "19 Aug 2021", received: "10 Sept 2021", read: false },
  { name: "X-ray report, both knees", date: "12 Nov 2019", received: "10 Sept 2021", read: false },
  { name: "Fit note", date: "1 Jul 2021", received: "10 Sept 2021", read: false },
  { name: "GP summary of medical records", date: "30 Jun 2021", received: "10 Sept 2021", read: false },
  { name: "Mandatory reconsideration request", date: "14 Sept 2017", received: "2 Oct 2017", read: false },
  { name: "Mandatory reconsideration notice", date: "20 Nov 2017", received: "20 Nov 2017", read: false },
  { name: "GP letter", date: "5 Sept 2017", received: "2 Oct 2017", read: false },
  { name: "PIP award letter", date: "30 May 2017", received: "30 May 2017", read: false },
  { name: "PA4 report", date: "2 May 2017", received: "9 May 2017", read: false },
  { name: "PIP 2 questionnaire", date: "3 Apr 2017", received: "10 Apr 2017", read: false },
  { name: "Further evidence", date: "3 Apr 2017", received: "10 Apr 2017", read: false },
  { name: "Podiatry letter", date: "21 Feb 2017", received: "10 Apr 2017", read: false },
  { name: "Pain clinic letter", date: "9 Jan 2017", received: "10 Apr 2017", read: false },
  { name: "ESA award letter", date: "14 Apr 2016", received: "14 Apr 2016", read: false },
  { name: "ESA85", date: "1 Apr 2016", received: "5 Apr 2016", read: false },
  { name: "ESA50", date: "4 Mar 2016", received: "11 Mar 2016", read: false },
  { name: "Fit note", date: "18 Feb 2016", received: "11 Mar 2016", read: false },
  { name: "Hospital discharge summary", date: "22 Dec 2015", received: "11 Mar 2016", read: false },
  { name: "PIP award letter", date: "11 Dec 2015", received: "11 Dec 2015", read: false },
  { name: "GP letter", date: "2 Oct 2015", received: "26 Oct 2015", read: false },
  { name: "PIP 1 claim form", date: "3 Jul 2015", received: "3 Jul 2015", read: false },
  { name: "Consultant letter, endocrinology", date: "15 May 2015", received: "20 Aug 2015", read: false },
  { name: "WHITE MAIL UNSTRUCTURED", date: "", received: "20 Aug 2015", read: false },
  { name: "Medication review", date: "6 Mar 2015", received: "20 Aug 2015", read: false }
] %}
